* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --azulE:#072F57;
    --azulC:#1A7CA6;
    --branco:#E3F6F5;
    --verdeC:#BAE8E8;
    --verdeE:#2C698D;
    --cinza: #999999;
    --verde: #12D76E;
    --azulbtn:#294ABD;

    --font1:'Montserrat Alternates', sans-serif;
    --font2: 'Roboto', sans-serif;
    
}
/* configuração do backgoround */

body{
    background-image: url("../img/Backgronud.png");
    background-color: var(--azulE);
    background-position: absolute;
    background-repeat: no-repeat;
}

main{
    background-image: url("../img/Backgronud.png");
    background-color: var(--azulE);
    background-position: absolute;
    background-repeat: no-repeat;
}

/* colocando cor no header */
header{
    background-color: var(--azulE);
}

/* alinhando o conteudo dentro header */
.posicao_header{
    font-family: var(--font1);
    color: var(--branco);
    margin: 0 auto;
    justify-content: space-between;
}

header nav{
    display: flex;
    justify-content: space-between;
    font-family: var(--font1);
    font-size: 20px;
    font-weight: bold;
}

/* colocando os textos com uma margin minima */
header p{
    margin:15px;
    margin-top: 30px;

}
/* configurando o h1 */
h1{
    position: absolute;
    left: -999em;
    width: 1em;
}

.banner{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.banner_conteudo{
    background-color: var(--azulE);  
}

/* configuração da linha que cruza a tela */
.linha{
    width: 100%;
    border-bottom: 3px solid var(--branco);
    display: flex;
}   
/*  colocando a imagem na linha */
.linha img{
    display: flex;
    flex-direction: row;
    margin: 0px 0px -40px 65%;
    width: 70px;
    background-color: var(--azulE);
    position: relative;
}
/* configurando as imagens */
.imagem_perfil{
    display: flex;
    flex-direction: column;
}
.foto_perfil{
    margin-top: 50px;
    margin-left: 46%;
}
.logo_volgs{
    margin-left: 10%;
}

/* configurando a escrita perfil com selo de verificado */

h2{
    color: var(--branco);
    font-family:var(--font2);
    margin-left: 45%;
    margin-top: 5px;
}

.perfil_verifi{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}
.verificado{
    /* width: 35px; */
    margin-left:1%;
}

/* configurando a section tabela perfil */
.tabela{
    display: flex;
    margin-right: 18%;
    margin-top: -300px;
    
}

.tabela_perfil{
    width: 450px;
    height:530px;

    border: 5px solid rgba(255, 255, 255, 0.8);
    background-color: #fff;
    margin-left: 45%;

    border-radius: 50px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}


/* alinhando a primeira metade das informalções para a esquerda */
.tabela_esquerda{
    font-family: var(--font2);
    color: var(--cinza);
    font-size: 20px;

    /* configurando espaço */
    margin-left: 30px;
    margin-top: 10px;
    text-align: left;
  
}
.tabela_perfil p {
    font-family: var(--font2);
    color: var(--cinza);
    font-size: 20px;
    margin: 20px;
   
}

.tabela_esquerda li{
    margin-top: 25px;
}

/* alinhando a primeira metade das informalções para a direita  */

.tabela_direita{
    font-family: var(--font2);
    color: var(--cinza);
    font-size: 20px;

    /* configurando espaço */
    margin-right: 30px;
    margin-top: -290px;
    text-align: right;

    list-style: none;
}

.tabela_direita li{
    margin-top: 25px;
}

/* configuração do 'footer' id verificado */

.id{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }

.id p{
    color:var(--verde);
    text-transform: uppercase;
    display: flex;
    /* flex-direction: row; */
}

.id img{
    height: 35px;

}



.botao{
    display: flex;  
    flex-direction: column;
    margin-left: 80%;
    margin-top: -250px;
}


.redirecao{
    background-color: var(--azulC);
    border: 1px solid var(--azulbtn);
    height: 60px;
    width: 150px;
    margin-top: 10px;
    padding: 0 auto;
    border-radius: 50px;
}

.redirecao a{
    text-decoration: none;
    font-family: var(--font1);
    color: var(--branco);

    display: flex;
   justify-content: space-around;
   margin-top: 15px;
   
} 